.admin-game-input.widget.rounded-corners
  .header
    .title
      %h4 New game
    .menu
  %br.cb
  .text
    - action = "create"
    - if @game.id
      - action = "../update/#{@game.id}"
    - form_for @game, :url => action do |f|
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :display_name
        = f.text_field :display_name
      %p
        = f.label :state
        = collection_select(:state, :id, State.find(:all), :id, :name, {:include_blank => true})
        = f.submit 'Add State'
        %br
        - @game.states.each do |s|
          = s.name
          %br
      %p
        = f.label :number_of_balls
        = f.text_field :number_of_balls, {:style => "width: 25px;"}
      %p
        = f.label "Range"
        = f.text_field :lowest_number, {:style => "width: 25px;"}
        &nbsp;to&nbsp;
        = f.text_field :highest_number, {:style => "width: 25px;"}
      %p
        = f.label :number_of_super_balls
        = f.text_field :number_of_super_balls, {:style => "width: 25px;"}
      %p
        = f.label "Range"
        = f.text_field :lowest_super_number, {:style => "width: 25px;"}
        &nbsp;to&nbsp;
        = f.text_field :highest_super_number, {:style => "width: 25px;"}
      %p
        = f.label "Sequenced?"
        = f.check_box :sequenced
      %p
        = f.label "Duplicates?"
        = f.check_box :duplicates
      %p
        = f.label "Regular Duplicates?"
        = f.check_box :regular_duplicates
      %p
        = f.label "Super Duplicates?"
        = f.check_box :super_duplicates
      %p 
        = f.label :url
        = f.text_field :url
      %p
        = f.label :notes
        = f.text_area :notes, {:class => "valign-top"}
      %p
        = f.submit 'Save Game'
        %button{:id => "cancel", :value => "Cancel"}Cancel