.post
  .header
    .title
      %h4
        =h post.title
    .menu
      %h4
        =h post.pub_date.to_formatted_s(:long)
    %br.cb
  - if !current_user.nil?  
    - if current_user.admin
      .admin-menu
        = link_to 'Edit', edit_blog_post_path(post)
        = link_to 'Delete', post, :confirm => 'Are you sure you want to delete this blog post and all of its comments?', :method => :delete
  .text
    - if short
      - if post.content.size > 500
        = "#{post.content.slice(0..500)}..."
        - else
        = post.content
    - else
      = post.content
    - if short
      %p
        = link_to 'Continue Reading', blog_post_path(post.id)
  - if !short
    .comments
      %h4 Comments
      - if !current_user.nil?
        - if current_user.admin
          = link_to "Comment Admin (#{@post.unapproved_comments} unapproved)", comment_path(@post.id)
      - @post.comments.each do |comment|
        .comment
          - if comment.approved
            - if comment.user
              - if !comment.user.nickname.blank?
                %b
                  =h "#{comment.user.nickname} said "
              - else
                %b
                  =h "A TLP user said "
            - else
              %b
                =h "A Guest said "
            =h "\"#{comment.content}\""
      .comment-form
        - form_for @comment do |f|
          - fields_for @post do |p|
            = p.hidden_field :id
          - if current_user
            -fields_for current_user do |c|
              = c.hidden_field :id
          %p
            = f.label 'Comment'
            = f.text_area :content, {:style => "vertical-align: middle;", :rows => "5"}
          %p
            = f.submit "Add comment"