.post
  .header
    .title
      %h4
        =h post.title
    .menu
      %h4
        =h post.pub_date.to_formatted_s(:long)
    %br.cb
  - if !current_user.nil?  
    - if current_user.admin
      .admin-menu
        = link_to 'Edit', edit_blog_post_path(post)
        =  link_to 'Delete', post, :confirm => 'Are you sure you want to delete this blog post and all of its comments?', :method => :delete
  .text
    - if short == true
      - if post.content.size > 500
        = "#{post.content.slice(0..500)}..."
        - else
        = post.content
    - else
      = post.content
    - if short == true
      %p
        = link_to 'Continue Reading', blog_post_path(post.id)