.blog-post.widget.rounded-corners
  .post
    .header
      .title{:style => "float: none"}
        %h4 New Blog Post
    .text
      - form_for @post do |f|
        %p
          = f.label :title
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = f.text_field :title
        %p
          = f.label :content
          &nbsp;
          = f.text_area :content, {:style => "vertical-align: top;"}
        %p
          = f.label :Status
          &nbsp;&nbsp;&nbsp;&nbsp;
          %select{:id => "blog_post_status", :name => "blog_post[status]"}
            %option{:value => "100"} Draft
            %option{:value => "200"} Published
        %p
          = f.submit "Save"
          %button{:value => "Cancel"}Cancel