.blog-post.widget.rounded-corners
  .post
    .header
      .title{:style => "float: none"}
        %h4 New Blog Post
    .text
      - form_for @post do |f|
        %p
          = f.label :title
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = f.text_field :title
        %p
          = f.label :content
          &nbsp;
          = f.text_area :content, {:style => "vertical-align: top;"}
        %p
          = f.submit "Save Draft"
          = f.submit "Publish"
          %button{:value => "Cancel"}Cancel